/**
monochrome palette:
#41bb3f
#4a9149
#2be628
#456644
#323c32
#293329

*/


* {
    box-sizing:border-box;
}

:root {
    --scroll: 0;
    color:rgb(25, 31, 25);
}

body, html {
    margin:0;
    padding:0;
    height:100%;
    font-family: Arial, sans-serif;
    background-color:#d7e2d7;
}

section {
    height:100vh;
    position:relative;
}

header {
    position:fixed;
    top: 0;
    width:100%;
    padding:5rem 5%;
    /* 
        the first 25% scrolling of the viewport: no change
        the next 75% scrolling of the viewport: from 3.5rem to 2.5rem
    */
    font-size:calc( (3.5 - max(0, var(--scroll) - 25) / 75) * 1rem);
    color:rgb( calc( 74 - var(--scroll)*49/100 ), calc( 145 - var(--scroll)*114/100 ), calc( 74 - var(--scroll)*49/100 ));
    font-weight:600;
    z-index:5;
}

.content {
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index:10;
}

.hero {
    display:grid;
    grid-template-columns:1fr 1fr;
    position:sticky;
    top:0;
    /*
        * the first 25% of scrolling the viewport: no translating 
        * the next 75% of scrolling the viewport: translate up to -100%
    */
    translate: 0 calc(min( (var(--scroll) - 25) * 5/3 * -1%, 0px));
    margin-bottom:35vh;
}

.right {
    background-color:rgba(215, 236, 215, calc( max(1 - var(--scroll) * 2.5 / 100, 0) ));
}

.left {
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    padding-left: 10%;
    padding-right: 10%;
    background-color:rgba(240, 245, 240, calc( max(1 - var(--scroll) * 2.5 / 100, 0) ) );

}

h1 {
    font-size:6rem;
}

p {
    font-size:2rem;
}

.showcase-imgs img{
    width:30%;
    position:fixed;
    bottom:0;
    z-index:3;
    translate:-50% 100%;
    left:50%;
    transition: 
        translate 0.5s ease-in-out, 
        width 0.12s ease-in-out;
}

.showcase-imgs .show {
    translate:-50% 0%;
    transition: translate 0.5s ease-in-out;
}

.showcase-imgs .hero-section.show {
    translate: 0 0;
}

.showcase-imgs .hero-section {

    left:35%;
    width: calc(15% + 15% * min(var(--scroll) * 2.5/ 100, 1));
}

[data-img-to-show] {
    position: absolute;
    top: 20%;
}

.hero [data-img-to-show] {
    top: 50%;
}